html, body, #root {
	height: 100%;
	padding: 0;
	margin: 0;
}

.validation-error {
	color: darkred;
}

h2 {
	margin: 0;
}

p {
	margin: 0;
}

table {
	border-collapse: collapse;
}

tr {
	border-bottom: 1px solid gray;
}

td {
	padding: 2px 4px;
}