.calendar {
	padding : 10px 10px;
}
.calendar .header {
	display: flex;
}
.calendar .month {
	flex-grow: 1;
}
.calendar .month span {
	cursor: pointer;
}
.calendar table th, .calendar table td {
	padding: 3px;
	margin: 0;
	border: 1px solid #e6e6e6;
}
.calendar th {
	text-align: center;
	font-weight: bold;
}
.calendar tbody td {
	text-align: center;
}
.calendar-selected, .calendar-selectable:hover {
	color: white;
	background-color: #1dc025;
	cursor: pointer;
}